@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Inventory Control Application</h6>
                </div>
                <div class="card-body">
                    - This project is built to help business manage their rental including:<br />
                    - You can view, edit, delete, create new entries <br />
                    - You can extract report <br />
                    - You can upload image by drag and drop
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Web-based application</h6>
                </div>
                <div class="card-body">
                    - This is a web-based project <br />
                    - Web page is responsive <br />
                    - All function is web-based
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Stack used</h6>
                </div>
                <div class="card-body">
                    - Programming language used: C# <br />
                    - Application was built with ASP.NET <br />
                    - Web was designed using HTML5
                    - Database was built using Microsoft SQL Server <br />
                    - The application is design based on MVC architecture <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
